[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycheck = "*"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-restful = "*"
flask-mongoengine = "*"
werkzeug = "*"
pyexcel = "*"
pyexcel-xls = "*"

[requires]
python_version = "3.9"
